@import "./variables.scss";
/** 按钮 **/
// 文字类型
.a-button--text,
.a-button--text:focus,
.a-button--text:hover {
  color: $btn-bg-primary;
}

// primary 类型
.a-button--primary {
  background: $btn-bg-primary;
  border-color: transparent;
}
.a-button--primary:focus,
.a-button--primary:hover {
  background: $btn-bg-primary;
}

/** 搜索框 **/
.a-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  // display: inline-block;
  font-size: inherit;
  // height: 34px;
  // line-height: 34px;
  outline: none;
  // padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

// 文本框
.a-textarea__inner,
.a-textarea__inner:hover,
.a-textarea__inner:focus {
  border-color: $color-background;
}

// 占位符样式
// IE 11
.a-input__inner::placeholder,
.a-textarea__inner::placeholder {
  font-size: 14px;
  color: #999;
}

// 谷歌 Safari
.a-input__inner::-webkit-input-placeholder,
.a-textarea__inner::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
}

// firfox
.a-input__inner::-moz-placeholder,
.a-textarea__inner::-moz-placeholder {
  font-size: 14px;
  color: #999;
}

.a-input__inner,
.a-textarea__inner {
  color: $color-black;
}

/** 下拉框 **/
.a-select .a-input.is-focus .a-input__inner {
  border-color: $color-background;
}

/** 时间选择器 **/
.a-range-editor.is-active:hover {
  border-color: $color-background;
}

/** 卡片 **/
.a-card.is-always-shadow,
.a-card.is-hover-shadow:focus,
.a-card.is-hover-shadow:hover {
  box-shadow: 3px 3px 12px rgba(234, 234, 234, 0.5);
}

/** loading加载 **/
.a-loading-spinner {
  .a-loading-text {
    color: $btn-bg-primary;
  }
  .path {
    stroke: $btn-bg-primary;
  }
}
