@import './svgicon.scss';

/* Global scss */

#app {
  height: 100%;
}

.no-padding {
  padding: 0px;
}

@include common;
@include el-common;
@include input-common;
@include ul-common;
$color-scrollbar-thumb-bg: rgba(193, 193, 193, 0.6);

.h_100 {
  height: 100%;
}
.w_100 {
  width: 100%;
}
.mr_10 {
  margin-right: 10px;
}
.ml_10 {
  margin-left: 10px;
}
[v-cloak] {
  display: none;
}
html,
body {
  color: $color-black;
  font-size: 12px;
  // font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica,
  //   "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.clearfix {
  @include clearfix;
}
// 滚动条
div::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
div::-webkit-scrollbar-track {
  background-color: $color-white;
}
.nav::-webkit-scrollbar-track {
  background-color: $color-background;
}
div::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-thumb-bg;
  border-radius: 50px;
}
ul {
  margin-bottom: 0;
}
ul::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
ul::-webkit-scrollbar-track {
  background-color: $color-white;
}
ul::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-thumb-bg;
  border-radius: 50px;
}

textarea::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
textarea::-webkit-scrollbar-track {
  background-color: $color-white;
}
textarea::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-thumb-bg;
  border-radius: 50px;
}
#nprogress .bar {
  background: #0dc9e5 !important;
}
/*flex mode*/

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-dib {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	white-space: nowrap;
	flex-direction: row;
	flex-wrap: nowrap
}

.flex-pc {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-pj {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex-pe {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.flex-ac {
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-ae {
	-webkit-box-align: end;
	-moz-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.flex-stretch {
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.it1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	min-width: 0;
}

.it2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: block;
	min-width: 0;
}

.it3 {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	display: block;
	min-width: 0;
}

.it5 {
	-webkit-box-flex: 5;
	-moz-box-flex: 5;
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
	display: block;
	min-width: 0;
}

.it6 {
	-webkit-box-flex: 6;
	-moz-box-flex: 6;
	-webkit-flex: 6;
	-ms-flex: 6;
	flex: 6;
	display: block;
	min-width: 0;
}

.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	-webkit-flex-direction: column;
}
/*flex mode*/

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-dib {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	white-space: nowrap;
	flex-direction: row;
	flex-wrap: nowrap
}

.flex-pc {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-pj {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex-pe {
	-webkit-box-pack: end;
	-moz-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.flex-ac {
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-ae {
	-webkit-box-align: end;
	-moz-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.flex-stretch {
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.it1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	min-width: 0;
}

.it2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: block;
	min-width: 0;
}

.it3 {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	display: block;
	min-width: 0;
}

.it5 {
	-webkit-box-flex: 5;
	-moz-box-flex: 5;
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
	display: block;
	min-width: 0;
}

.it6 {
	-webkit-box-flex: 6;
	-moz-box-flex: 6;
	-webkit-flex: 6;
	-ms-flex: 6;
	flex: 6;
	display: block;
	min-width: 0;
}

.flex-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.ft12{ font-size:12px;}
.ft14{ font-size:14px;}
.ft16{ font-size:16px;}
.ft18{ font-size:18px;}
.ft20{ font-size:20px;}
.ft22{ font-size:22px;}
.ft24{ font-size:24px;}

.cfff{ color: $color-white;}

.mr10{ margin-right: 10px !important;}
.ml10{ margin-left: 10px;}
.mt10{ margin-top: 10px !important}