// 字体颜色
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-danger: #ff6873 !default;
$color-danger-plain: #ffe8ea !default;
$color-333: #333333 !default;
$color-666: #666666 !default;
$color-999: #999999 !default;

$color-primary: #21C9E5 !default;
$bg-color: #f5f6f9 !default;
$bg-content: #F8F8F8 !default;
$border-color: #ebebeb !default;
$color-background: #F2F2F2 !default;
$color-content-background: #F8F8F8 !default;
$color-border: #d9d9d9 !default;

$color-status-unfinished: #FEB78C !default;
$color-status-finished: #9FDB9D !default;
$color-status-cancelled: #E5E5E5 !default;
$color-status-tobeconfirmed: #A3E3F7 !default;

$box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);

// 边框倒角
$border-radius: 6px !default;
$border-radius-sm: 3px !default;
$border-radius-lg: 8px !default;

// 字体大小
$font-size-12: 12px !default;
$font-size-14: 14px !default;
$font-size-16: 16px !default;
$font-size-18: 18px !default;
$font-size-20: 20px !default;

$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;

// 外部字体包
$font-source: Source Han Sans CN !default;
$font-arial: Arial !default;

// 上内边距
$padding-top-5: 5px !default;
$padding-top-10: 10px !default;
$padding-top-15: 15px !default;
$padding-top-20: 20px !default;
$padding-top-25: 25px !default;
$padding-top-30: 30px !default;
$padding-top-40: 40px !default;
$padding-top-50: 50px !default;

// 左内边距
$padding-left-5: 5px !default;
$padding-left-10: 10px !default;
$padding-left-15: 15px !default;
$padding-left-20: 20px !default;
$padding-left-25: 25px !default;
$padding-left-30: 30px !default;

// 下内边距
$padding-bottom-5: 5px !default;
$padding-bottom-10: 10px !default;
$padding-bottom-15: 15px !default;
$padding-bottom-20: 20px !default;
$padding-bottom-25: 25px !default;
$padding-bottom-30: 30px !default;

// 右内边距
$padding-right-5: 5px !default;
$padding-right-10: 10px !default;
$padding-right-15: 15px !default;
$padding-right-20: 20px !default;
$padding-right-25: 25px !default;
$padding-right-30: 30px !default;



